.direct-contact-container {
  max-width: 400px;
  margin: auto;
  margin-top: 240px;
  margin-bottom: 80px;
}

.direct-contact-container h1{
  text-align: center;
  color: var(--Letras);
  font-size: 40px;
  padding: 50px;
}

.contact-list {
  list-style-type: none;
  margin-left: 0px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: var(--colorP);
  height: 60px;
}

.contact-text {
  letter-spacing: 1.9px;
  color: var(--Letras);
  font: 300 20px 'Lato', sans-serif;
  font-size: 25px;
}

.place {
  margin-left: 62px;
}

.gmail,
.phone {
  margin-left: 53px;
}

.contact-text a {
  color: var(--Letras);
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: var(--colorP);
  text-decoration: none;
}

.social-media-list {
  position: relative;
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: var(--Letras);
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 5px;
  line-height: 60px;
  border-radius: 50%;
  color: var(--Letras);
  background-color: var(--colorS);
  cursor: pointer; 
  transition: all 200ms ease-in-out;
}

.social-media-list li:hover {
  background: var(--Letras);
}

.social-media-list li:hover a {
  color: var(--colorS);
}

hr {
  border-color: var(--colorP);
}

footer{
position:fixed; 
left:0px;
right:0px;
bottom:0px;
}

@media (max-width: 580px){

  .direct-contact-container{
    max-width: 80%;
    margin-top: 270px;
  }

  .direct-contact-container h1{
    font-size: 30px;
    padding: 10px;
  }

  .contact-text{
    font-size: 18px;
  }

  .place {
    margin-left: 42px;
  }
  
  .phone,
  .gmail {
    margin-left: 33px;
  }

  .social-media-list li{
    width: 45px;
    height: 45px;
    margin: 10px 5px;
    line-height: 45px;
  }

  .social-media-list li:after {
    width: 45px;
    height: 45px;
  }
  .list-item {
    line-height: 5;
  }
}